//home//
body{
    background-color: black;
}
.home-shi{
    background-color: black;
.image-shi{
    img{
        position: relative;
        width: 640px;
        height: 800px;
    }
}
.logo{
    position: absolute;
    width: 92.11px;
height: 43.2px;
left: 138.2px;
top: 30.3px;
}
.nav-shi{
    .navbar{
        .navbar-collapse{
            .ul-shi{
                padding-left: 120px;
                a{
                    padding-right: 30px;
                    color: white;
                    font-size: 14px;
                }
                .active{
                    border-bottom: 1px solid #b3a9a7;
                   


                }
            }
        }
    }
}
p{position: absolute;
    top: 220px;
    left: 450px;
    a{
        font-size: 400px;
        text-shadow: 1px 1px white;
        color: black;
        font-weight: 800;
        font-family: Raleway;
        text-decoration: none;
        
    }

}
}
.foot{
    background-color: black;
    padding-top: 71px;
    padding-left: 122px;
    padding-bottom: 46px;
    small{
      
        padding-left: 450px;
        width: 218px;
        height: 36px;
         color: #808080;
          font-family: Raleway;
          font-style: normal;
          font-weight: bold;
         font-size: 12px;
         line-height: 18px;
         text-align: center;
         a{
            text-decoration: none;
            color: gray;
            margin-left: 470px;
         }

    }
};
//home//

//about//
.about-shi-header{
    background-color: black;
    padding-top: 30px;
    .about-shi-first-row{
       
        .about-shi-nav{
            .about-ul-shi{
                li{padding-left: 40px;
                    a{padding-right: 30px;
                        color: white;
                        font-size: 14px;
                        
                    }
                }
            }
        }
    }
}
#breadcrumb-about{
    background-color: black;
    .bread-about-row{
        .col9{
            small{
                color: white;

            }
            p{
                width: 1003px;
                height: 167.09px;
                font-family: Raleway;
                font-style: normal;
                font-weight: 800;
                font-size: 150px;
                line-height: 150px;
                text-shadow: 1px 1px white;
                color: black;
       }
        }
        .col3{
            img{margin-top: 149px;
                margin-left: 54px;
                border: 10px solid black;
                position: absolute;
                top: -6px;
                opacity: 0.5;
                
    z-index: 20;
                
                    
            }
        }
    }
}
#about-girl{
    background-color: black;
    p{
        color:rgb(255, 253, 249);
        font-size: 14px;
        line-height: 24px;
        font-family: Raleway;
        font-weight: 500;
        position: absolute;
        z-index: 100;
        top: 32px;
    width: 700px;
       
        

    }
    img{
        width: 653px;
        height: 401px;
        margin-top: 100px;
        z-index: 0;
        background: rgba(0, 0, 0, 0.6);
        position: relative;
        opacity: 0.6;
}
    }
//about//

//work//
#breadcrumb-work{
    background-color: black;
.bread-work-row{
    small{
        color: white;

    }
    p{margin-bottom: 85px;
        width: 1003px;
        height: 167.09px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 800;
        font-size: 150px;
        line-height: 150px;
        text-shadow: 1px 1px white;
        color: black;
    }
}
}
#intelligent{
    background-color: black;
.row-intelligent{
    padding-bottom: 120px;
    img{
        width: 492px;
        height: 250px;
        opacity: 0.7;
        
}
    }
    h5{color: #FFFFFF;
        width: 110px;
        height: 22px;
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 22px;}
    p{margin-left: 16px;
        position: absolute;
        width: 407px;
        height: 96px;
        left: 0px;
        top: 42px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
         color: #808080;}
    button{
        width: 406.5px;
        height: 36px;
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        margin-top: 158px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 800;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;}
}


#animation{
    background-color: black;

.row-animation{
    h5{width: 108px;
        height: 22px;
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 22px;
        color: #FFFFFF;
        margin-top: 125px;
    }
    img{width: 748px;
        height: 250px;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0.5;
    }
}
}
#illustration{
    background-color: black;
.row-illustration{
    padding-top: 120px;
    h5{
        width: 115px;
        height: 22px;
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 22px;
        text-align: right;
        color: #FFFFFF; 
        margin-top: 125px;
       
   }
    img{
        width: 748px;
        height: 250px;
        opacity: 0.5;
    }

}
}
#doodle{
    background-color: black;
.row-doodle{
    padding-top: 120px;
    h5{width: 108px;
        height: 22px;
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 22px;
        color: #FFFFFF;
        margin-top: 125px;}
    img{width: 748px;
        height: 250px;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0.5;}
}
}//work-intelligent//
#breadcrumb-work-intelligent{
    background-color: black;
.bread-work-intelligent{
    small{color: white;
        

    }
    p{ width: 1003px;
        height: 167.09px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 800;
        font-size: 150px;
        line-height: 150px;
        text-shadow: 1px 1px white;
        color: black;
    }
}
}
#addcart{
    background-color: black;
    .row-addcart{
        display: flex;
    text-align: center;
    padding-top: 112px;
        .add-cart-image{
            img{width: 301px;
                height: 205px;
            position: relative;}
            h5{width: 24px;
                height: 18px;
                font-family: Raleway;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 18px;
               
                text-transform: uppercase;
                color: #FFFFFF;
            }
            p{  width: 202px;
                height: 18px;
                font-family: Raleway;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 18px;
               
                color: #FFFFFF;
            }
            small{
                position: absolute;
                top: 91%;
                left: 18%;
                color: #808080;

            }
            
        }.add-cart-image :hover  .hover-image{

           display: block;
        }
        
        
        .active{
                text-decoration-line: underline;
     }

    }
    .hover-image{
        padding-top: 56px;
        left: 16%;
        button{
            width: 151px;
            height: 36px;
            background: #FFFFFF;
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
        }
        .sosial{
            padding-top: 25px;
            .share{
                margin-right: 36px;
                margin-left: 4px;
                i{color: white; }
                a{width: 33px;
                    height: 18px;
                    color: white;

                }
            }
            .like{
                i{color: white;}
                a{
                    width: 33px;
                    height: 18px;
                    color: white;
                }
            }
        }
    }
}
//in-intelligent//
#breadcrumb-in-intelligent{
    background-color: black;
    .bread-in-row{
        small{color: white;}
        p{width: 1003px;
            height: 167.09px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 800;
            font-size: 150px;
            line-height: 150px;
            text-shadow: 1px 1px white;
            color: black;
            margin-bottom: 75px;}
    }
}
#insideimage{
    background-color: black;
    .in-image{
        img{width: 492px;
            height: 369.27px;

        }
        .share-in{
            margin-right: 30px;
            i{color: white;}
            a{  width: 33px;
                height: 18px;
                color: white;}
        }
        .like-in{
            i{color: white;}
            a{width: 33px;
                height: 18px;
                color: white;}
        }
        h4{width: 407px;
            height: 30px;
            font-family: Raleway;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 80px;          
            color: #FFFFFF;
            }
        small{width: 62px;
            height: 20px;
            color: #FFFFFF;
            font-family: Raleway;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 90px;}
        p{width: 181px;
            height: 14px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: #FFFFFF;}
        .imagein{
            li{width: 382px;
                height: 24px;
                font-family: Raleway;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 54px;             
                color: #FFFFFF;
                margin-left: -24px;
            }
        }
        button{width: 401px;
            height: 36px;
            background: #FFFFFF;
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            margin-top: 58px;
           
        }
    }
    .inimage2{
        img{width: 492px;
            height: 369.27px;
            margin-top: 53px;
        }
    }
}
#galleryimage{
    background-color: black;
    .title{
        width: 407px;
        height: 30px;
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        color: #FFFFFF;
        padding-top: 101px;
        padding-bottom: 89px;


    }
    .images{
        img{width: 321px;
            height: 250px;
            position: relative;
            opacity: 0.5;
        }
        h5{width: 24px;
            height: 18px;
            font-family: Raleway;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 18px;           
            text-transform: uppercase;
            color: #FFFFFF;
        }
        p{ width: 202px;
            height: 18px;
            font-family: Raleway;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 18px;           
            color: #FFFFFF;}
            small{
                position: absolute;
                top: 91%;
                left: 16%;
                color: #808080;

            }
    }
} .active{
    text-decoration-line: underline;}